<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>
        Destiny Database
    </title>
    <link type="text/css" rel="stylesheet" href="../public/css/DestinyStyles.css">
    
</head>
<body>
    <h1>
        Welcome to the Destiny 2 Database!
    </h1>
    <h2>
        Please select search criteria
    </h2>
    <!-- Search field for textbox -->
    <div class = "container" id = "DBRapp">
        <form name="form1" action="/readsearch" method="post">
        <h3>Search</h3>
        <input type="text" class= "search" name="xsearch" placeholder="Item Name">
        <button name="button1" value="SUBMIT" class = b1 type="submit" onClick = "readData.ejs" search=option >Search</button>
        
        </form>

        <!-- Search field for checkboxes and drop down menues -->
        <form name="form2" action="/readcheckbox" method="post">
        
        <div class=GUNS>
            <h4>or</h4>
            <input type="radio" class="checkbox" id="chk" name="chk" value="Gun"/> Gun
            <label for="GunType" class="GT">Type:</label>
            <select name="GunType" id="GunType">
                <option value="Any">Any</option>
                <option value="Auto Rifle">Auto Rifle</option>
                <option value="Hand Cannon">Hand Cannon</option>
                <option value="Scout Rifle">Scout Rifle</option>
                <option value="Pulse Rifle">Pulse Rifle</option>
                <option value="Sniper Rifle">Sniper Rifle</option>
                <option value="Fusion Rifle">Fusion Rifle</option>
                <option value="Linear Fusion Rifle">Linear Fusion Rifle</option>
                <option value="Submachine Gun">Submachine Gun</option>
                <option value="Machine Gun">Machine Gun</option>
                <option value="Trace Rifle">Trace Rifle</option>
                <option value="Grenade Launcher">Grenade Launcher</option>
                <option value="Heavy Grenade Launcher">Heavy Grenade Launcher</option>
                <option value="Rocket Launcher">Rocket Launcher</option>
                <option value="Shotgun">Shotgun</option>
                <option value="Sidearm">Sidearm</option>
                <option value="Bow">Bow</option>
                <option value="Sword">Sword</option>
            </select>
            <label for="DMGType" class="DT">Damage Type:</label>
            <select name="DMGType" id="DMGType">
                <option value="Any">Any</option>
                <option value="Kinetic">Kinetic</option>
                <option value="Void">Void</option>
                <option value="Arc">Arc</option>
                <option value="Stasis">Stasis</option>
                <option value="Solar">Solar</option>
            </select>
            <label for="WeaponRarity" class="WR">Rarity:</label>
            <select name="WeaponRarity" id="RarityID">
                <option value="Any">Any</option>
                <option value="Legendary">Legendary</option>
                <option value="Exotic">Exotic</option>
            </select>
          </div>
          <div class="ARMOR">
            <input type="radio" class="checkbox" id="chk" name="chk" value="Armor"/> Armor
            <label for="ArmorClass" class="AC">Class:</label>
            <select name="ArmorClass" id="ArmorClass">
                <option value="Any">Any</option>
                <option value="Hunter">Hunter</option>
                <option value="Warlock">Warlock</option>
                <option value="Titan">Titan</option>
            </select>
            <label for="ArmorType" class="AT">Type:</label>
            <select name="ArmorType" id="ArmorType">
                <option value="Any">Any</option>
                <option value="Helmet">Helmet</option>
                <option value="Chest">Chest</option>
                <option value="Legs">Legs</option>
                <option value="Gauntlets">Gauntlets</option>
                <option value="ClassItem">Class Item</option>
            </select>
            <label for="ArmorRarity" class="AR">Rarity:</label>
            <select name="ArmorRarity" id="RarityID">
                <option value="Any">Any</option>
                <option value="Legendary">Legendary</option>
                <option value="Exotic">Exotic</option>
            </select>
          </div>
          <div class="GHOSTS">
            <input type="radio" class="checkbox" id="chk" name="chk" value="Ghost"/> Ghost
            <label for="GhostRarity" class="GR">Rarity:</label>
            <select name="GhostRarity" id="RarityID" value="RarityID">
                <option value="Any">Any</option>
                <option value="Legendary">Legendary</option>
                <option value="Exotic">Exotic</option>
            </select>
          </div>
          <button name="button2" type="submit" value="SUBMIT" onClick = "readData.ejs" search=option >Search</button>
        </form>

        <!-- Setup for inserting item into database with checkboxes and text field inputs -->
        <form name="form3" action="/insertnewitem" method="post">
            <h5>INSERT ITEM</h5>
            <div class=GUNINPUT>
                <input type="radio" class="checkbox" id="chk" name="chk2" value="Gun"/> Gun
                <label for="GunName" class="GT">Name:</label>
                <input type="text" class= "input" name="IGunName" placeholder="Item Name">
                <input type="text" class= "input" name="IGunClass" placeholder="Gun Class">
                <input type="text" class= "input" name="IGunPower" placeholder="Max Power Level">
                <input type="text" class= "input" name="IGunRarity" placeholder="Legendary or Exotic">
                <input type="text" class= "input" name="IGunType" placeholder="Void, Arc, Solar or Stasis">
            </div>
            <div class=ARMORINPUT>
                <h4>or</h4>
                <input type="radio" class="checkbox" id="chk" name="chk2" value="Armor"/> Armor
                <label for="ArmorName" class="GT">Name:</label>
                <input type="text" class= "input" name="IArmorName" placeholder="Item Name">
                <input type="text" class= "input" name="IArmorClass" placeholder="Armor Class">
                <input type="text" class= "input" name="IArmorPower" placeholder="Max Power Level">
                <input type="text" class= "input" name="IArmorRarity" placeholder="Legendary or Exotic">
                <input type="text" class= "input" name="IArmorType" placeholder="Helmet, Legs, Gauntlets, Chest, Class Item">
            </div>
            <div class=GHOSTINPUT>
                <h4>or</h4>
                <input type="radio" class="checkbox" id="chk" name="chk2" value="Ghost"/> Ghost
                <label for="GhostName" class="GT">Name:</label>
                <input type="text" class= "input" name="IGhostName" placeholder="Item Name">
                <input type="text" class= "input" name="IGhostRarity" placeholder="Legendary or Exotic">
            </div>                
            <button name="button3" type="submit" class = b1 value="SUBMIT" >Submit</button>
            </form>

            <!-- Setup for updating item values from the database with textboxes -->
            <form name="form4" action="/updateitem" method="post">
                <h6>UPDATE ITEM</h6>
                <div class=UPDATE>
                  <input type="text" class= "input" name="UpdateName" placeholder="Weapon or Armor Name">
                  <input type="text" class= "input" name="UpdatePower" placeholder="New Power Level">
                </div>
                <button name="button4" type="submit" class = b2 value="SUBMIT" >Submit</button>
            </form>

            <!-- Setup for deleting items from the database with textboxes -->
            <form name="form5" action="/deleteitem" method="post">
                <h6>DELETE ITEM</h6>
                <div class=UPDATE>
                    <input type="text" class= "input" name="DeleteItem" placeholder="Item Name to Delete">
                </div>
                <button name="button4" type="submit" class = b1 value="SUBMIT" >Submit</button>
            </form>

    </div>
</body>

</html>